.generator-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #008fd3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
