<input type="file" multiple name="" id="" (change)="upload($event)" />

<div class="selector-card" (click)="draggable1.addItem($event)">
  <div class="selector-card-icon">
    <img width="24" height="24" src="/assets/pen.svg" />
  </div>
  <h4>Ký từ xa</h4>
</div>

<div class="selector-card" (click)="draggable2.addItem($event)">
  <div class="selector-card-icon">
    <img width="24" height="24" src="/assets/usb.svg" />
  </div>
  <h4>Ký cục bộ</h4>
</div>

<app-custom-drag-drop
  #draggable1
  [pdf]="pdfViewer"
  [data]="selected.dragDrops"
  [config]="config1"
></app-custom-drag-drop>

<app-custom-drag-drop
  #draggable2
  [pdf]="pdfViewer"
  [data]="[]"
  [config]="config2"
></app-custom-drag-drop>

<div class="main">
  <div style="width: 70%">
    <ngx-extended-pdf-viewer
      #pdfViewer
      height="80%"
      [src]="selected.src"
      [useBrowserLocale]="true"
      [showHandToolButton]="true"
      [ignoreKeyboard]="true"
      [showPropertiesButton]="true"
      [showUnverifiedSignatures]="false"
      [showBorders]="true"
      pageViewMode="multiple"
      backgroundColor="gray"
      [textLayer]="false"
      [handTool]="pdfViewer.handTool"
      [zoomLevels]="zoomLevels"
      zoom="100%"
    >
    </ngx-extended-pdf-viewer>
  </div>
  <div>
    <div *ngFor="let item of draggable1.listItem">
      <span
        >x: {{ item.positionX }}, y: {{ item.positionY }}, w: {{ item.width }},
        h: {{ item.height }}, f: {{ item.fontSize | number : "1.0-0" }}, p:
        {{ item.page }}</span
      >
    </div>
    <div>----------------------------------------</div>
    <div *ngFor="let item of draggable2.listItem">
      <span
        >x: {{ item.positionX }}, y: {{ item.positionY }}, w: {{ item.width }},
        h: {{ item.height }}, f: {{ item.fontSize | number : "1.0-0" }}, p:
        {{ item.page }}</span
      >
    </div>
    <div>----------------------------------------</div>
    <!-- <div *ngFor="let item of listPdf" (click)="changeSrc(item)">
      {{ item.src }}
    </div> -->
    <form>
      <div *ngFor="let item of listPdf; let i = index">
        <input
          type="radio"
          name="pdf-selector"
          [value]="item"
          [(ngModel)]="selected"
        />
        {{ item.name }} <button (click)="del(i)">Xóa</button>
      </div>
    </form>
    <pre style="background-color: black; color: white;">{{ draggable1.listItem | json }}</pre>
  </div>
</div>
